@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

header {

    background-image: none;
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 10%;
    height: 5em;
    justify-items: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 10%;
}

main {
    min-height: 85%;
    display: flex;
    flex-direction: column;
    background-color: black;
    background:
        linear-gradient(217deg, rgba(201, 159, 129, 0.8), rgba(0, 0, 0, 0.5) 70.71%),
        linear-gradient(127deg, rgba(201, 159, 129, 1), rgba(0, 0, 0, 0) 20.71%),
        linear-gradient(336deg, rgba(201, 159, 129, 0.6), rgba(0, 0, 0, 1) 100.71%);
    padding: 0em 2em 0 2em;

    .gallery-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: center;

        div {
            background-color: rgba(0, 0, 0, 0.455);
            width: 31%;
            aspect-ratio: 1/0.75;
            margin: 0;
            padding: 0;
            margin-bottom: 3em;
            overflow: hidden;

            box-shadow: 1em 1em 1em 0.5em rgba(0, 0, 0, 0.4);
        }

        img {
            transition: transform 330ms ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

h1 {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 4.5em;
    font-family: "Noto Serif", serif;
    margin: 0.2em 0 0.2em 0;
    text-shadow: 0.08em 0.08em 0.1em black;
}

.imageWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imageWrapper img {
    width: 90%;
    max-width: 70vh;
}

.imageWrapper span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
}