@media (width <=1200px) {
    html {
        font-size: 14px;
    }

    .sections {
        width: 100%;
        align-self: center;
    }

    .location {
        div {
            width: 60%;
        }
    }
}

@media (width <=1000px) {
    html {
        font-size: 12px;
    }

    header {
        position: relative;
    }

    .table-div {
        div {
        width: 90%;
        }
    }

    .house-features {
        width: 85% !important;
    }
    
    .first-div-home {
        padding-right: 1em;
    }

    .phone-nav {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 50px;
        right: 10px;
        display: flex;
        width: 50%;
        padding: 0em;
        border-radius: 5px;

        ul {
            flex-direction: column;
            gap: 1px;
            margin: 0;
            padding: 0;

            li {
                background-color: rgb(39, 39, 39);
                border-radius: 3px;
                border: 0.01em solid rgb(209, 154, 124, 1);
                padding: 0;

                a {
                    width: 100%;
                    height: 4em;
                    align-content: center;
                    color: rgb(209, 154, 124, 1);
                }
            }
        }
    }

    .first-div-home {
        position: relative;
        padding-bottom: 0;
    }

    #menu-wrapper {
        position: absolute;
        width: 40px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        justify-items: center;
        right: 10px;
        top: 10px;
    }

    .phone-menu {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0;
    }

    .header-description {
        width: 100% !important;
        padding-top: 0;
    }

    .menu-option {
        display: none;
    }

    .shown {
        display: block;
    }

    .hidden {
        display: none;
    }

    .widescreen-nav {
        display: none;
    }

    #menu-wrapper {
        display: block;
    }
}

@media (width <=800px) {
    html {
        font-size: 10px;
    }

    header {
        min-height: 30% !important;
    }

    .small-gallery img {
        pointer-events: none;
    }

    .phone-nav {
        top: 40px;
    }

    #menu-wrapper {
        width: 40px;
    }
}

@media (width <=600px) {
    html {
        font-size: 10px;
    }

    .small-gallery {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1em;


        div {
            background-color: black;
            width: 50% !important;
            aspect-ratio: 1/0.75;
        }
    }
}

@media (width <=500px) {
    html {
        font-size: 10px;
    }

    .phone-nav {
        top: 30px;
    }

    #menu-wrapper {
        width: 30px;
    }
}

@media (width > 1000px) {
    header {
        nav ul {
            li {
                a:after {
                    transition: all ease-in-out .2s;
                    background: none repeat scroll 0 0 white;
                    content: "";
                    display: block;
                    height: 0.1em;
                    width: 0;
                }

                a:hover:after {
                    width: 100%;
                }
            }
        }
    }

    .small-gallery {
        img:hover {
            transform: scale(120%);
        }
    }
}