@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font: inherit;
    height: 100vh;
    min-width: 300px;
}

header {
    display: flex;
    flex-direction: column;

    min-height: 90vh;
    height: fit-content;


    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("../images/front-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    img {
        position: absolute;
        width: 3em;
        margin: 1.3em;
        padding: 0;
        opacity: 70%;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-right: 2em;

        li {
            display: flex;
            padding: 0 0.9em;

            a {

                text-decoration: none;
                text-align: center;
                text-wrap: nowrap;
                color: white;
                font-size: 1.3em;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        padding: 2em 4em 0 4em;
    }

    .main-header {
        margin-left: 0.5em;
        margin-bottom: 2em;
        font-family: "Noto Serif", serif;
        font-size: 1.5em;
        font-weight: 800;
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
    }

    .header-description {
        flex-direction: column;
        gap: 2em;
        width: 60%;
        color: rgba(255, 255, 255, 0.9);
        font-family: "Noto Serif", serif;
        padding-bottom: 2em;

        h1,
        h2,
        h3 {
            font-weight: 400;
            line-height: 1.3em;
            font-family: "Noto Serif", serif;
            ;
        }

        p {
            font-size: 1.5em;

            a {
                text-decoration: none;
                color: yellow;
                font-weight: bold;
            }
        }

        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 1.7em;
            max-width: 70%;
        }

        h3 {
            font-size: 2em;
        }
    }
}

main {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-direction: column;

    .small-gallery {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1em;


        div {
            background-color: black;
            width: 33.333333%;
            aspect-ratio: 1/0.75;
            margin: 0;
            padding: 0;
            overflow: hidden;

            img {
                transition: transform 330ms ease-in-out;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .house-feautures {
        display: flex;
        flex-direction: column;
        margin: 6em 4em 2em 4em;
        gap: 6em;
        width: 60%;
        align-self: center;

        h1 {
            color: rgba(0, 0, 0, 0.8);
            font-weight: 400;
            margin-bottom: 0.3em;
        }

        h3 {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
            font-size: 1.3em;
            line-height: 1.4em;
        }

        .sections {
            display: flex;
            justify-content: space-between;
            margin: 0 8em 0 8em;

            section {
                display: flex;
                flex-direction: column;
                gap: 1em;

                width: 45%;
                padding: 2em;


                box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.1);

                img {
                    width: 50px;
                    aspect-ratio: 1/1;
                    align-self: center;
                }

                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 1em;
                    opacity: 50%;
                    font-weight: 4100;
                }
            }
        }
    }

    .location {
        background-color: black;
        background-image: linear-gradient(rgba(209, 154, 124, 1), rgba(209, 154, 124, 0.4), rgb(221, 168, 116, 0));

        div {
            display: flex;
            flex-direction: column;
            margin: 2.2em 4em 2.2em 4em;
            gap: 1em;
            min-width: 40%;
            justify-self: center;

            p {
                font-size: 2.5em;
                color: white;
                align-self: center;
            }

            iframe {
                width: 100%;
                aspect-ratio: 1/0.5;
                border: none;
                align-self: center;
                margin-bottom: 3em;
            }

            .book-button {
                background-color: rgba(0, 0, 0, 0);
                border: 0.05em solid;
                border-color: white;
            }

            .book-button:hover {
                background-color: white;
                color: rgb(209, 154, 124, 1);
            }
        }
    }
}

footer {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .copyrights {
        color: rgba(255, 255, 255, 0.5);
    }

    font-size: 1em;

    a {
        text-decoration: none;
        color: rgba(209, 154, 124, 0.9);

    }

    a:hover {
        color: rgb(220, 191, 162);
    }
}

.house-feautures,
.location {
    min-height: 80%;
}

.book-button {
    text-decoration: none;
    height: 3.5em;
    align-self: center;
    align-content: center;
    font-size: 1.3em;
    background-color: rgba(209, 154, 124, 1);
    border: 0;
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    padding: 0 5em;

    transition: background-color 250ms ease-in-out,
        color 250ms ease-in-out;
}

.book-button:hover {
    background-color: black;
}

.phone-menu {
    display: none;
}

.phone-nav {
    display: none;
}

#menu-wrapper {
    display: none;
}